/*Styling the body of the website*/
body {
    background-color: whitesmoke;
    font-family: monospace;
    margin: auto;
    max-width: 1024px;
}

/*Styling the header of the website*/
header {
    background-color: white;
}

/*Styling the logo in the header*/
header img {
    max-width: 5%;
    height: auto;
    padding: 10px;
    justify-self: start;
}

/*Styling the main part of the website*/
main {
    text-align: center; /*Aligning items*/
}

/*Styling the images in the main section*/
main img {
    max-width: 100%;
    height: auto;
    display: block;
    background-color: white;
}

/*Styling the text container*/
.textarea {
    justify-content: center;
}

/*Styling the text*/
.text {
    background-color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/*Setting the background to white*/
.contain {
    background-color: white;
}

/*Styling the footer of the website*/
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
    background-position: center;
    box-sizing: border-box;
}

@media (max-width: 480px) { /*For screens below 480px*/
    main img {
        width: 100%;
        float: none;
    }

    header img {
        max-width: 8%;
    }
}

@media (min-width: 481px) and (max-width: 800px) { /*For screens between 481px and 800px*/
    main img {
        width: 50%;
        float: left;
    }
}

@media (min-width: 801) and (max-width: 1024px) { /*For screens between 801px and 1024px*/
    main img {
        width: 33%;
        float: left;
    }
}

@media (min-width: 1024px) { /*For screens above 1024px*/
    main img {
        width: 33.31%;
        float: left;   
    }

    .text {
        padding-top: 676px;
    }
}